<!-- Header Image and Logo -->
<div id="satelliteheader">
	<header class="clearfix">
<div class="span12C">
<div class="centerLogo">
<h1>Learn to code <br /><br />in a city that suits your fancy.</h1>
</div>
</div>
</header></div>
<div id="welcomewrap"><header class="clearfix">
<div class="container">
<div class="span12">
<h2>Applications are now open for <a href="#!/locations#asheville">Asheville</a>, <a href="#!/locations#atlanta">Atlanta</a>, <a href="#!/locations#charlotte">Charlotte</a>, and <a href="#!/locations#triangle">Raleigh</a>. Scroll down for details.</h2>
</div>
</div>
</header></div>
<section id="services"><br /><br /></section>
<div id="servicewrap">
<div class="container">
<div class="row">
<div class="span6">
<h3>Get a great foundation in web development with our part-time evening classes or dive right in and apply<br /> for our in-depth full-time immersion program. We work on a rolling admission schedule, so we encourage you to apply early.</h3>
<!--<center><a href="javascript:void( window.open('http://form.jotform.us/form/31955208889166', 'blank','scrollbars=yes,toolbar=no,width=6000,height=8000'))"><img src="assets/img/circle.png" /></a></center>--></div>
<div class="span6 big-sign-up">
<div ng-include="" src="'views/main_includes/newsletter.html'"></div>
</div>
</div>
<hr /><!--ASHEVILLE--><section id="nex"></section>
<div id="projectwrap_2">
<div class="container"><br /> <br />
<div id="asheville"></div>
<img src="assets/img/asheville-banner-web.jpg" alt="Asheville" class="grayscale" />
<h4>&nbsp;</h4>
<h1>Asheville</h1>
<h2>Asheville - better known amongst the TTS team as "Beer City" - is amazing for so many reasons. With 50 local beers at your fingertips, it's no wonder Asheville has become such a hotspot for techies and start-ups. And if a cold one isn't your thing, the mountains make for beautiful vistas and wicked awesome outdoor activities. Whether you want to jump on with one of Asheville&rsquo;s awesome web development shops, work alongside other freelance developers living the dream, or start your own thing, Asheville is a great place to begin your journey.</h2>
<h3>Our full-time classes are hosted out of <a href="http://www.mojocoworking.com">Mojo Coworking</a> in downtown Asheville and our part-time classes are located in <a href="http://www.ashevilleprofessionalstudies.com/">Asheville's Center for Professional Studies</a>.</h3>
<div class="row"><br />
<div class="span4">
<div class="project_item">
<div class="project_item_center">
<div class="mask2"><a href="assets/img/mojo1.jpg" rel="prettyPhoto"><img src="assets/img/mojo1.jpg" alt="" /></a></div>
</div>
</div>
<!-- project_item_center --></div>
<!-- project_item --> <!-- span4 -->
<div class="span4">
<div class="project_item">
<div class="project_item_center">
<div class="mask2"><a href="assets/img/mojo2.jpg" rel="prettyPhoto"><img src="assets/img/mojo2.jpg" alt="Mojo Coworking" /></a></div>
</div>
</div>
<!-- project_item_center --></div>
<!-- project_item --> <!-- span4 -->
<div class="span4">
<div class="project_item">
<div class="project_item_center">
<div class="mask2"><a href="assets/img/mojo3.jpg" rel="prettyPhoto"><img src="assets/img/mojo3.jpg" alt="Tech Talent South's Asheville Campus" /></a></div>
</div>
</div>
<!-- project_item_center --></div>
<!-- project_item -->
<h3>Applications for the next session are due by 08/24/2014.</h3>
<center><a href="http://form.jotformpro.com/form/40417073732954" target="_blank"><img src="assets/img/circle.png" width="200px" /></a></center></div>
<!-- span4 --></div>
<!-- row --></div>
<!-- container --> <!-- projectwrap2 -->
<p></p>
<hr /><!--END ASHEVILLE--> 

<!--ATLANTA --><section id="nex"></section>
<div id="projectwrap_2">
<div class="container"><br /><br />
<div id="atlanta"></div>
<img src="assets/img/atlanta-web-banner.jpg" alt="Atlanta" class="grayscale" />
<h4>&nbsp;</h4>
<h1>Atlanta</h1>
<h2>As the #1 moving destination in the country, Atlanta is growing like crazy. With a plethora of Fortune 500 companies (Coca-Cola, Delta, Home Depot, Suntrust, etc.) and an exploding startup scene, Atlanta is a great place to kickstart your dreams of becoming a web developer or tech entrepreneur. Tech Talent South's code immersion programs are hosted in our new Blvd Ave space in Atlanta's trendy Old Fourth Ward neighborhood. This central location provides our current students with endless opportunities to network with local entrepreneurs, developers, and general supporters of the Atlanta startup scene. &nbsp;We also offer complimentary coworking space for our graduates. &nbsp; As if that isn't awesome enough on its own, our space just happens to be next door to Condesa Coffee and a quick stroll to Joystick, Church, Noni's and more!</h2>
<div class="row"><br />
<div class="span4">
<div class="project_item">
<div class="project_item_center">
<div class="mask2"><a href="assets/img/blvd3.jpg" rel="prettyPhoto"><img alt="" src="assets/img/blvd3.jpg" /></a></div>
</div>
</div>
<!-- project_item_center --></div>
<!-- project_item --> <!-- span4 -->
<div class="span4">
<div class="project_item">
<div class="project_item_center">
<div class="mask2"><a href="assets/img/blvd1.jpg" rel="prettyPhoto"><img alt="" src="assets/img/blvd1.jpg" /></a></div>
</div>
</div>
<!-- project_item_center --></div>
<!-- project_item --> <!-- span4 -->
<div class="span4">
<div class="project_item">
<div class="project_item_center">
<div class="mask2"><a href="assets/img/blvd5.jpg" rel="prettyPhoto"><img alt="" src="assets/img/blvd5.jpg" /></a></div>
</div>
</div>
<!-- project_item_center --></div>
<!-- project_item -->
<h3>Applications for the next session are due 03/23/2014.</h3>
<center><a href="http://form.jotformpro.com/form/40416424436954" target="_blank"><img src="assets/img/circle.png" width="200px" /></a></center></div>
<!-- span4 --></div>
<!-- row --></div>
<!-- container --> <!-- projectwrap2 --><hr />
<p></p>
<!-- container --> 
<!--END ATL--> 

<!--CHARLOTTE--><section id="nex"></section>
<div id="projectwrap_2">
<div class="container"><br /> <br /> <img src="assets/img/charlotte-banner-web.jpg" alt="Charlotte" class="grayscale" />
<h4>&nbsp;</h4>
<div id="charlotte"></div>
<h1>Charlotte</h1>
<h2>Charlotte may be know as a "banking" city but we can promise you won't see many ties and sports coats in our offices. Our classes are held seconds from Uptown at <a href="http://www.industrycharlotte.com">Industry Charlotte</a>. This dynamic coworking space ensures that our students will be bumping elbows with both established and ambitious entrepreneurs and developers in the community. As the second largest city in the Southeast, opportunities abound in Charlotte. From the big boys (Bank of America, Lowe&rsquo;s, Duke Energy) to the techies (Skookum, DealCloud, Red Ventures, and so many more) to starting your own thing, Charlotte is a great place to get to work and do something BIG..</h2>
<div class="row"><br />
<div class="span4">
<div class="project_item">
<div class="project_item_center">
<div class="mask2"><a href="assets/img/charlotte1.jpg" rel="prettyPhoto"><img alt="" src="assets/img/charlotte1.jpg" /></a></div>
</div>
</div>
<!-- project_item_center --></div>
<!-- project_item --> <!-- span4 -->
<div class="span4">
<div class="project_item">
<div class="project_item_center">
<div class="mask2"><a href="assets/img/charlotte3.jpg" rel="prettyPhoto"><img alt="" src="assets/img/charlotte3.jpg" /></a></div>
</div>
</div>
<!-- project_item_center --></div>
<!-- project_item --> <!-- span4 -->
<div class="span4">
<div class="project_item">
<div class="project_item_center">
<div class="mask2"><a href="assets/img/charlotte4.jpg" rel="prettyPhoto"><img alt="" src="assets/img/charlotte4.jpg" /></a></div>
</div>
</div>
<!-- project_item_center --></div>
<!-- project_item -->
<h3>Applications for the next session are due 03/30/2014.</h3>
<center><a href="http://form.jotformpro.com/form/40416198009958" target="_blank"><img src="assets/img/circle.png" width="200px" /></a></center></div>
<!-- span4 --></div>
<!-- row --></div>
<!-- container --> <!-- projectwrap2 --><hr />
<p></p>
<!--END CHARLOTTE--> 

<!-- TRIANGLE AREA --><section id="nex"></section>
<div id="projectwrap_2">
<div class="container"><br /> <br />
<div id="triangle"></div>
<img src="assets/img/raleigh-web-banner.jpg" alt="Raleigh" class="grayscale" />
<h4>&nbsp;</h4>
<h1>Raleigh/Durham/Chapel Hill</h1>
<h2>Commonly know as &ldquo;the Triangle,&rdquo; Raleigh-Durham-Chapel Hill is home to some of the best universities in the Southeast (including UNC-Chapel Hill, Duke, and NC State University) and as a result...is flooded with smart people doing BIG things. Naturally, TTS wants to put you right smack dab in the middle of the action. With companies like Red Hat, IBM, and Cisco right out our back door and startup activity galore, you&rsquo;ll be sure to find something right up your alley.</h2>
<h3>We're finalizing details right now, but let's just say we'll be in a brand new space in an amazing renovated building surrounded by other awesome tech companies! What we can guarantee is the obligatory coffee bar, ping-pong, and abundance of scooters. Keep your eye out for the official announcement!</h3>
<div class="row"><br />
<div class="span4">
<div class="project_item">
<div class="project_item_center">
<div class="mask2"><a href="assets/img/raleigh1.jpg" rel="prettyPhoto"><img alt="" src="assets/img/raleigh1.jpg" /></a></div>
</div>
</div>
<!-- project_item_center --></div>
<!-- project_item --> <!-- span4 -->
<div class="span4">
<div class="project_item">
<div class="project_item_center">
<div class="mask2"><a href="assets/img/raleigh2.jpg" rel="prettyPhoto"><img alt="" src="assets/img/raleigh2.jpg" /></a></div>
</div>
</div>
<!-- project_item_center --></div>
<!-- project_item --> <!-- span4 -->
<div class="span4">
<div class="project_item">
<div class="project_item_center">
<div class="mask2"><a href="assets/img/raleigh3.jpg" rel="prettyPhoto"><img alt="" src="assets/img/raleigh3.jpg" /></a></div>
</div>
</div>
<!-- project_item_center --></div>
<!-- project_item -->
<div class="row">
<h3>Applications for the next session are due 03/03/2014.</h3>
<center><a href="http://form.jotformpro.com/form/40373360456957" target="_blank"><img src="assets/img/circle.png" width="200px" /></a></center></div>
</div>
<h2><!-- span4 --></h2>
</div>
<!-- row --></div>
<!-- container --> <!-- projectwrap2 -->
<p></p>
</div>
</div>