<div id="pricewrap">
	<div class="container"><br />
		<div class="span12">
		<h2>Your Investment</h2>
			<div class="pricing-table-wrapper">
				<div class="pricing-table row-fluid">
					<ul class="pricing-column span6">
						<li class="pricing-title">Full-time Code Immersion Class Pricing</li>
						<li class="pricing-price">$6250</li>
						<li></li>
						<li>January 20, 2014 - March 14, 2014</li>
						<li>Classroom hours: &nbsp;M,T,W,Th (8am-12:30pm)</li>
						<li>Labs in the afternoons, evenings, and beyond</li>
						<li>Planned networking and awesome social events</li>
						<li class="pricing-button"><a class="button" href="javascript:void( window.open('http://form.jotform.us/form/31955208889166', 'blank','scrollbars=yes,toolbar=no,width=7000,height=10000'))">Apply Now</a></li>
					</ul>
					<ul class="pricing-column span6">
						<li class="pricing-title">Part-time Code Immersion Class Pricing</li>
						<li class="pricing-price">$4250</li>
						<li></li>
						<li>January 20, 2014 - March 14, 2014</li>
						<li>Classroom hours: Mon/Wed (6-9pm)</li>
						<li>Accessiblity to space during the day</li>
						<li>Planned networking and awesome social events</li>
						<li class="pricing-button"><a class="button" href="javascript:void( window.open('http://form.jotform.us/form/31955208889166', 'blank','scrollbars=yes,toolbar=no,width=7000,height=10000'))">Apply Now</a></li>
					</ul>
				</div>
			</div><!-- Pricing-Table Row Fluid -->
		</div><!-- Pricing-Table-Wraper -->
	</div><!-- Span12 -->
</div><!-- Container -->